@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import '~react-image-gallery/styles/scss/image-gallery.scss';

body {
    width: 100%;
    height: 100%;
    background: url('../assets/img/fkyhynowp-4-jakob-owens.jpg') no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#topborder {
    border-bottom: 1px solid rgba(173, 0, 242, 0.871);
    border-top: 1px solid rgba(173, 0, 242, 0.871);
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#topspan {
    color: gray;
    font-weight: bold;
}

#main-footer {
    background: #343a40;
    color: #ffff;
}

#page-logo {
    width: 65x;
    height: 65px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#page-logo-text {
    margin-top: 50px;
    margin-left: 6px;
}

#main-body {
    min-height: 90vh;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#fab {
    width: 60px;
    height: 60px;
    background-color: rgb(9, 137, 196);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgb(55, 54, 54);
    transition: all 0.1s ease-in-out;

    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 70px;

    position: fixed;
    right: 30px;
    bottom: 30px;
}

#fab:hover {
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05);
}

#btn {
    background: -webkit-linear-gradient(right, #a445b2, #7342fa, #a445b2, #42aafa);
    border-radius: 50px;
}

#nav {
    box-shadow: 0 6px 10px 0 rgb(55, 54, 54);
    background-color: rgba(2, 2, 2, 0.392);
    border-radius: 27px;
}

#sidenav {
    box-shadow: 0 6px 10px 0 rgb(55, 54, 54);
    font-size: large;
    border-radius: 12%;
    // background: -webkit-linear-gradient(right, #54bdd5, #7342fa, #32a0a3, #42aafa);
}

//CKEditor setting

.ck {
    .ck-editor {
        min-width: 100%;
    }
}

.ck-editor__editable {
    max-height: 80rem;
    min-height: 20rem;
    min-width: 100rem;
}

.ck-editor__editable_inline {
    max-height: 80rem;
    min-height: 20rem;
    min-width: 100%;
}

html {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

textarea {
    resize: none;
}

.my_category {
    &:last-child {
        margin-bottom: 0.25rem;
    }
}

////chat bot css

.chat-list {
    padding: 0;
    font-size: 0.8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.chat-list .chat-message:before {
    content: '';
    position: absolute;
    top: 20.5px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: 0.9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #fc6d4c;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fc6d4c;
}

/////photo img

#photoimg {
    max-height: 235px;
}
